m-sidebar {
    display: flex;
    flex-direction: column;

    border: solid 1px;

    align-self: stretch;
}

m-toolbar {
    border: solid 1px black;
	text-align: center;
}

/* Calendar Styling */

m-calendar {
    text-align: center;
    min-height: 15rem;
    min-width: 15rem;

    border: solid 1px black;
}

#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.days {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
}

.inactive {
    color: lightgray;
}

/* End of calendar styling */

m-tags {
    border: solid 1px black;
	text-align: center;
    min-height: 5rem;
}