m-sidebar {
    display: flex;
    flex-direction: column;


    --month_year_BG_color: navy;
    --month_year_TXT_color: lightgray;

    max-width: 310px;
    border-right: 3px solid var(--border);
}

m-toolbar {
    text-align: center;
    border-bottom: 3px solid var(--border);
    height: 2rem;   
}

/* Calendar Styling */

m-calendar {
    text-align: center;
    height: 256px;
    padding: 0%;
    margin: 10px;
}

#prev, #next {
    width: 25px;
    height: 25px;
    position: relative;
    font-size: 8px;
    cursor: pointer;
    background-color: var(--tag-active);
    border: solid 1px var(--colored-divider);
    margin: 4px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    margin: 0px 15px;
}

#calendar {
    padding: 0;
    height: 230px;
}

.calendar header {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: var(--label-font);
}

#month{
    font-family: var(--label-font);
    font-size: large;
    padding-left: 2%;
    padding-right: 3px;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    text-align: left;
    border: none;
    width: 100px;
    flex-grow: 1;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}

select::-ms-expand {
    display: none;
}

#year {
    font-family: var(--label-font);
    font-size: large;
    text-align: right;
    width: 100px;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border: none;
    scrollbar-color: black;
    flex-grow: 1;
}

.days {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    margin: 0px;
    margin-bottom: 7px;
    color: var(--colored-divider);
    font-weight: bold;
    /* border-bottom: solid 1px var(--border); */
    /* background-color: var(--month_year_BG_color); */
    /* color: var(--month_year_TXT_color); */
}

.days li {
    width: 20px;
    font-family: var(--label-font);
}

.dates {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: white;
}

.dates li {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    padding: none;
    margin: none;
    justify-self: center;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dates li button {
    position:relative;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: large;
    padding: none;
    width: 30px;
    height: 30px;
    margin: none;
    line-height: 30px;    
    border-radius: 5px;
    text-align: center;

    font-family: var(--label-font);
}

.inactive {
    color: #ddd;
    height: 30px;
    width: 30px;
    line-height: 30px;;
    padding: none;
    margin: none;
    text-align: center;
    justify-self: center;
    font-family: var(--label-font);
}

li.today button {
    color: var(--month_year_BG_color);
    font-weight:600;
    text-decoration:underline;
}

li:has(button.selected) {
    background-color: var(--layered-background);
}

li:has(button:hover) {
    background-color: var(--layered-background);
}

li:has(button.selected) {
    button {
        color: black;
    }
}

/* End of calendar styling */

m-tags {
    border-top: solid 3px var(--border);
    text-align: center;
    min-height: 5rem;
    background-color: var(--background);
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

m-tags .tags-flex {
    background-color: var(--layered-background);
    border: solid 1.5px var(--colored-divider);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

m-tags div.tags-flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

m-tag button {
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    margin: 12px 0px;
    border: solid 1.5px var(--colored-divider) !important;

    font-family: var(--label-font);
    filter: saturate(0.9) sepia(0.15);
    /* box-shadow: inset 0 0 0 1px var(--border); */
}

m-tags .tag-inactive button {
    background-color: var(--tag-inactive) !important;
    color: var(--tag-inactive-fg) !important; 
}

m-tags .tag-active button {
    background-color: var(--tag-active) !important;
}

m-tags .tag-active button {
    opacity: 1.0; 
}

#tag-0 button {
    background-color: var(--tag0);
}

#tag-1 button {
    background-color: var(--tag1);
}

#tag-2 button {
    background-color: var(--tag2);
}

#tag-3 button {
    background-color: var(--tag3);
}

#tag-4 button {
    background-color: var(--tag4);
}

#tag-5 button {
    background-color: var(--tag5);
}
