m-search-bar {
	display: block;
	text-align: center;

	border: solid 1px black;
}

.select-container {
	width: 100%;
    position: relative;
    display: inline-block;
}

.hidden {
    display: none;
}

#search-placeholder, #expandable-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#expandable-select {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}