m-search-bar {
    display: flex;
    text-align: center;
    border-radius: 15px;
    width: 300px;

    position: relative;
    background-color: var(--border);
    box-sizing: border-box;
    border: none;
    margin-top: 5px;
}

.searching {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

#search-field {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    width: 300px;
    box-sizing: border-box;
    font-family: var(--label-font);
    border: solid 2px var(--colored-divider);
}

.searching #search-field {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    border: solid 2px var(--colored-divider);
    outline: none;
}

#expandable-section {
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: var(--border);
    max-width: 100%;
}

#expandable-select {
    width: 300px;
    height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-family: var(--label-font);
    border-left: solid 2px var(--colored-divider);
    border-right: solid 2px var(--colored-divider);
    border-bottom: solid 2px var(--colored-divider);
    border-top: none;
}

#expandable-select ::-webkit-scrollbar {
    display: none;
}

#expandable-section, #expandable-select div {
    box-sizing: border-box;
    border: none;
    text-align: left;
    font-family: var(--label-font);
}

#expandable-select * {
    margin-left: 10px;;
    cursor: pointer;
}

#expandable-select .selected {
    text-decoration: underline;
}

.hidden {
    display: none;
}

