m-search-bar {
    display: block;
    text-align: center;

    border: solid 1px black;
    border-width: 4px;
    border-radius: 10px;
    margin:auto;
    width: 50%;
}

.select-container {
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 10%;
}

.hidden {
    display: none;

}

#search-placeholder, #expandable-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(208, 208, 221, 0.973);
    
    
}

#expandable-select {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    overflow: hidden;
}

::placeholder{
    color: black;
}

