:root {
    font-size: 20px;
}

body {
    --background: #edeaff;
    --heading: #465177;
    --layered-background: #bdcbff;
    --colored-divider: #7c8bbf;
    --border: #adb3c9;
    --accent: #ffffff;

    --tag-inactive: rgba(129, 142, 190, 0.4);
    --tag-inactive-fg: rgba(124, 139, 191, 1);
    --tag-active: rgba(193, 146, 255, 0.8);

    --styled-text: #465177;


    --label-font: "Signika Negative", sans-serif;
    --monospaced-font: "JetBrains Mono", monospace;

    font-family: var(--font);
    margin: 0px;
}

h1 {
    font-family: var(--label-font);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--heading);
    margin: 10px;
}
