:root {
	font-size: 20px;
}

body {
	--background: #ffffff;
	--text: #000000;
	--accent: #ffffff;

	--tag0: #6dc0ff;
	--tag1: #3baaff;
	--tag2: #ff9b72;
	--tag3: #c192ff;
	--tag4: #718cc0;
	--tag5: #ff593a;

	--heading-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--monospaced-font: Consolas;

	font-family: var(--font);
	margin: 0px;
}


h1 {
	font: var(--heading-font);
}

h2 {
	font: var(--heading-font);
}

