/* styles for the aligning the different components together */

body {
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    align-self: stretch;

    flex-grow: 1;

    max-height: 100vh;
}
